.chat-screen {
  background-color: var(--chat-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-screen:only-child {
  margin-bottom: 20px;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
}

.message-row {
  display: flex;
  width: 100%;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 7px;
  border-radius: 25%;
}

.message__time {
  display: flex;
  align-items: flex-end;
}
