
.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.recommended-friends span {
  margin: 90px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 50px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  opacity: 0.6;
  text-transform: uppercase;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.open-post__heart-count span {
  font-size: 14px;
}
