#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-top: var(--vertical-space);
  margin-bottom: 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.3);
}
