#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-top: var(--vertical-space);
  margin-bottom: 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.3);
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
