.welcome-header {
  margin: 70px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 15px;
  margin-top: 0px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

#login-form a:visited {
  color: inherit;
}
