.icon-row {
  margin-top: 50px;
  display: flex;
  align-content: space-between;
  width: 110%;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0px;
}
.icon-row__icon span {
  margin-top: 20px;
  width: 22vw;
}
