.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 20px var(--horizontal-space) 0px var(--horizontal-space);
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: white;
  margin-top: 20px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 10px;
}

.screen-header__icons-comment {
  position: relative;
}

.screen-header__icons-comment--modifiy {
  position: absolute;
  right: 5px;
  top: 3px;
  background-color: white;
  font-size: 13px;
  padding: -10px 0px;
}
