.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-component__title {
  font-size: 22px;
}

.user-component__title--xl {
  font-size: 28px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}
